.immg{


  width: 100vw;
    height: 85vh;
    filter: brightness(0.4);
}

.immg2{

width: 50%;
height: 100%;


}

.poster_Overlay{
    position: absolute;
    left: 10vw;

    bottom: 12vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vh;
 
    width: 100vw;
    margin-inline: auto;
}


.poster_title{

    
    font-size: 4rem;

    font-weight: 900;
}

.post_description{
    width: 40vw;
    font-size: 1rem;
    text-align: left;
}

.poster_release{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22%;
    
    font-size: 2rem;
}


.card_title{
    font-size: 1.5rem;
    font-weight: 900;
}

.card_rating{
    font-size: 1.25rem;
}

.icon{
    color: yellow;
}