.movie_list
{
    width: 98vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(36, 35, 35);
  padding-block: 50px;
}

.list_Cards{
    padding: 0;
    
    width: 76vw;
justify-content: space-around;
}
.cover{
    margin-top: -20px;
}