.parallax {
 
  /* The image used */
    
  
    /* Set a specific height */
    min-height: 75vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
   filter: opacity(0.4);
    background-size: contain;
    width: 100%;
  }

  .details{
    max-width: 50vw;
    bottom: 100%;
    left: 28vw;
  }

  .image-card{
    bottom: 85%;
    left: 2%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.712) 0px 0px 15px 1px;
  }



  .title{
   
font-weight: 600;
    font-size: 3vw;
  }

  .over{
    
    text-align: left;
    max-width: 45vw;
    font-size: 1vw;
    margin-left: 32%;
    margin-top: 40px;
  }
  
.over h2{
  font-weight: 600;
  font-size: 2vw;
  margin-bottom: 12px;
}
  .voting_points{
 
    font-size: 2vw;
  }
  
.release_date{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.65vw;
}


.movie-Detail {
  width: 50vw;
  font-weight: 400;
 margin-top: 100px;
}
 h2{

  font-size: 3vw;
  font-weight: 600;

}

.feature{

  color: rgb(255, 255, 255);
  padding-block: 1vw;
  padding-inline: 3vh;
justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.486);
  border-inline: none;
  border-top: none;
  min-width: 40vw;
}



.key{
  font-weight: 600;

}


.image-mini-card{
  width: 5vw;
  padding: 10px;
  background-color: rgb(255, 255, 255)
}

.parent{
  height: 90vh;
}


.line{
  height: 100%;
  width: 50vw;
  background-color: aqua;
}




.outer {
  
  width: 1px;
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
  margin-right: 4vw;
}
.inner {
  position: absolute;
  width:100%;
  height: 55%;
  background: rgb(255, 255, 255);
  top: 30%;
  box-shadow: 0px 0px 30px 20px rgb(255, 255, 255);
}


.linkss{
margin-block: 55px;
  font-size: 2vw;
}


a{
  all: unset;
  cursor: pointer;
}

.but{

 border: none;
  background-color: rgba(255, 0, 0, 0.89);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.5vw;
  width:14vw;
}

.but:hover{
  background-color: rgba(255, 0, 0, 0.699);
}


.movie_list_d

{
  margin-block: 50px;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(36, 35, 35, 0);
flex-direction: column;
}

.list_Cards_d{
 margin-left: 25px;
    padding: 0;
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    
}
.cover_d{
  display: flex;
  justify-content:  flex-start;
  align-items: center;
  height: 600px;
width: 100%;
  overflow-x: auto;
    margin-top: -20px;
    scrollbar-width: none;
}


.scroller-btn{
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vw;
 cursor: pointer;
 background-color: rgba(0, 0, 0, 0.356);
 padding-inline: 10px;
 border-radius: 5px;
 position: absolute;
 font-size: 4vw;
 transition: all 0.2s ease-in-out;
}

.cover_d::-webkit-scrollbar {
  display: none;
}


.sug-btn-left{
 transform: translateX(-42vw);
}
.sug-btn-left:hover{
  background-color: rgb(0, 0, 0);
 }
.sug-btn-right{
  transform: translateX(42vw);
 }
 .sug-btn-right:hover{
  background-color: rgb(0, 0, 0);
 }
